<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
    <title>Data renderer</title>
</head>

<body>
    <h1>Data renderer</h1>
    <div id="dataHolder">
        <p>Average relative humidity: <%= averageHum %>%</p>
        <p>Average lumen: <%= averageLight %> lm</p>
        <p>Average temperature: <%= averageTemp %> celsius</p>
    </div>
    <div>
    <canvas id="myChart" width="400" height="400"></canvas>
    </div>

<script>
        const labels = ["Humidity in %", "Light in lumen", "Temperature in celsius"];
      
        const data = {
          labels: labels,
          datasets: [{
                label: 'Sensor data',
                data: [<%= humData.relative_humidity %>, <%= lightData.light_lumen %>, <%= tempData.temperature %>] 
            }]
        };
      
        const config = {
          type: 'bar',
          data: data,
          options: {}
        };

        const myChart = new Chart(
          document.getElementById('myChart'),
          config
        );

      </script>
</body>

</html>